<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        async function handleSubmit() {
            // 1. id, pass, name, address 값 가져온 후 JSON 객체 생성
            const id = document.getElementById("id").value;
            const pass = document.getElementById("pass").value;
            const name = document.getElementById("name").value;
            const address = document.getElementById("address").value;
            const data = {
                "id": id,
                "pass": pass,
                "name": name,
                "address": address
            }

            // 2. PostMapping으로 MemberRestController에 JSON 객체 전송
            //    --> await fetch 함수 요청(request) 및 응답(response) 생성
            const response = await fetch("http://localhost:8080/member/restSignup",{
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(data)
            });
            console.log(response);

            // 3. 응답 객체를 통한 결과 출력
            if(response.ok){
                const member= await response.json();
                const output = `
                    <ul>
                        <li>ID : ${member.id}</li>
                        <li>PASS : ${member.pass}</li>
                        <li>NAME : ${member.name}</li>
                        <li>ADDRESS : ${member.address}</li>
                    </ul>
                `;
                document.getElementById("result").innerHTML = output;
            }

        }
    </script>
</head>
<body>
    <h1>Signup(REST) 화면</h1>
    <ul>
        <li>
            <label>아이디</label>
            <input type="text" id="id">
        </li>
        <li>
            <label>패스워드</label>
            <input type="password" id="pass">
        </li>
        <li>
            <label>이름</label>
            <input type="text" id="name">
        </li>
        <li>
            <label>주소</label>
            <input type="text" id="address">
        </li>
        <li>
            <button type="button" onclick="handleSubmit()">Signup</button>
            <button type="reset">Reset</button>
        </li>
    </ul>
    <hr>
    <div id="result"></div>
    <a href="/">홈으로</a>
</body>
</html>